
body {
  height: 100vh;
}

.card-image:hover{
  transform: scale(1.15);
}

.card-image{
  transition: transform .2s;;
}

.cart-image, .card-image {
  object-fit: contain;
  height: 250px;
}



.back-to {
  cursor: pointer;
}

.card-div{
  cursor: pointer;
}

.cursor-pointer{
  cursor: pointer;
}
