
body {
  height: 100vh;
}

.card-image{
  height: 250px;
}


.cart-image, .card-image {
  object-fit: contain;
}



.back-to {
  cursor: pointer;
}

.card-div{
  cursor: pointer;
}

.cursor-pointer{
  cursor: pointer;
}
